body{
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1, p{
    color: white;
    text-align: center;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont input{
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}
.cont input::placeholder{
    color: white;
}
button{
    margin: 20px;
    padding: 10px;
}
.resposta01, .resposta02, .resposta03{
    color: #fff;
}